# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Marbler/Debug
Marbler/Marbler/Debug
Marbler/Marbler/Marbler/Debug

Marbler/.vs
Marbler/Marbler/x64
Marbler/x64